/*
    xs: 0..575px
    sm: 576..767px
    md: 768..991px
    lg: 992..1199px
    xl: 1200px+
    .container padding: 8px
    .container width:  - 16px
    .col-* padding: 8px
*/
/* */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: black;
}

.header {
    height: 100px;
    margin-bottom: 20px;
}

.message {
    width: 100%;
}

.success {
    color: green;
}

.warning {
    color: red;
}

p {
    margin-bottom: 0;
    overflow: auto;
}