/*
    xs: 0..575px
    sm: 576..767px
    md: 768..991px
    lg: 992..1199px
    xl: 1200px+
    .container padding: 8px
    .container width:  - 16px
    .col-* padding: 8px
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: black;
}


.container {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start; /*important!*/
    /*justify-content: space-evenly;*/
    gap: 10px 20px;

    padding: 20px;

    max-width: 880px;
    height: calc(100vh + 150px);
    margin-left: auto;
    margin-right: auto;
    background-color: Cornsilk;
    border: dashed 1px dimgrey;
    border-radius: 10px;
}


.note {
    display: block;
    width: 200px;
    text-decoration: none; /* Убирает подчеркивание для ссылок */
    /*margin: 5px;*/
    padding: 5px 10px 20px;
    border: solid 1px dimgrey;
    border-radius: 10px;
}

a.note {
    display: block;
    width: 200px;
    text-decoration: none; /* Убирает подчеркивание для ссылок */
    /*margin: 5px;*/
    padding: 5px 10px 20px;
    border: solid 1px dimgrey;
    border-radius: 10px;
}


a:visited {
    text-decoration: none;
    color: black;
}

A:active {
    text-decoration: none;
}

A:hover {
    text-decoration: none;
}


.title {
    font-weight: bolder;
    margin-bottom: 5px;
}

.del {

}