{% extends "base.html" %}

{% block head %}
    <title>Notes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='notes.css') }}" )>

{% endblock %}

{% block content %}
    <div class="container">
        <div class="note" style="background-color: {{ note.color }}">
            <p class="title">{{ note.title }}</p>
            <p>{{ note.content }}</p>
            <form action="" method="post">
                {{ form.delete }}
            </form>
            <form action="" method="post">
                {{ form2.archive }}
            </form>
            <a href="/notes/edit/{{ note.id }}"><button>Edit</button></a>
        </div>
    </div>
{% endblock %}