{% extends "base.html" %}

{% block head %}
    <title>Notes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='notes.css') }}" )>

{% endblock %}

{% block content %}
    <h2>Notes</h2>
    <div class="container">
        {% for note in data %}
            <a href="/notes/{{ note.id }}" class="note" style="background-color: {{ note.color }}">
                <p class="title">{{ note.title }}</p>
                <p>{{ note.content }}</p>
            </a>
        {% endfor %}
    </div>
{% endblock %}